.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: 0;
    padding: .65em 1em;

    .container-image {
        max-width: 1em;
    }

    .text {
        font-size: .8em;
        color: #FFF;
        font-weight: bold;
        margin-left: .65em;
    }
}