mixin footer( component )
    .container-footer 
        .container 
            .row 
                .col.col-01
                    p.text(tabindex!=component.text.tabindex)!=component.text.content

                .col.col-02
                    .container-image 
                        +image(component.image.src, component.image.class, component.image.alt, component.image.tabindex)