.container-footer {
    width: 100%;
    height: 5em;
    background-color: #000;
    display: flex;
    align-items: center;

    .row {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        .col-02 {
            display: flex;
            justify-content: flex-end;
        }
    }

    .text {
        color: #FFF;
        font-size: 1.1em;
        font-weight: bold;
    }

    .container-image {
        max-width: 8em;
        margin-top: .45em;
    }
}