mixin quiz( component )
    .container-quiz 
        header.header
            .container
                .box-text
                    h2.title(tabindex!=component.title.tabindex data-aos="fade-right" data-aos-duration="750")!=component.title.content

                    p.text(tabindex!=component.text.tabindex)!=component.text.content

        main.main
            .wrapper-feedback 
                .feedback.feedback-positive.hide
                    .container
                        .row 
                            .col.col-01
                                .container-image 
                                    +image(component.feedback.positive.image.src, component.feedback.positive.image.class, component.feedback.positive.image.alt, component.feedback.positive.image.tabindex)

                            .col.col-02
                                .box-text 
                                    h3.title(tabindex!=component.feedback.positive.title.tabindex)!=component.feedback.positive.title.content

                                    .box-text(tabindex!=component.feedback.positive.text.tabindex)!=component.feedback.positive.text.content

                .feedback.feedback-negative.hide
                    .container
                        .row 
                            .col.col-01
                                .container-image 
                                    +image(component.feedback.negative.image.src, component.feedback.negative.image.class, component.feedback.negative.image.alt, component.feedback.negative.image.tabindex)

                            .col.col-02
                                .box-text 
                                    h3.title(tabindex!=component.feedback.negative.title.tabindex)!=component.feedback.negative.title.content

                                    .box-text(tabindex!=component.feedback.negative.text.tabindex)!=component.feedback.negative.text.content 
                                    
            .container.wrapper-alternatives
                ul.wrapper-inputs(aria-label="Groups of questions", role="listbox")
                    each alternative in component.alternatives
                        li.container-question
                            +check({
                                text: alternative.text,
                                tabindex: alternative.tabindex,
                                id: alternative.id,
                                status: alternative.status,
                                ariaLabel: alternative.ariaLabel
                            })
        
        footer.footer.hide
            .container
                +button({
                    image: {
                        src: 'icon-scroll.svg',
                        class: 'image image-scroll',
                        alt: 'Imagem de scroll.',
                        tabindex: ''
                    },
                    text: 'CONFIRM',
                    tabindex: '',
                    class: 'button-confirm',
                    ariaLabel: 'Button to confirm your answer.'
                })