@keyframes lds-eclipse {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes lds-eclipse {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.lds-eclipse {
	position: relative;
	width: 300px !important;
	height: 300px !important;
	-webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
	transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
	display: flex;
	justify-content: center;
	align-items: center;

	.spinner {
		position: absolute;
		-webkit-animation: lds-eclipse 1s linear infinite;
		animation: lds-eclipse 1s linear infinite;
		width: 300px;
		height: 300px;
		top: 0px;
		left: 0px;
		border-radius: 50%;
		box-shadow: 0 4px 0 0 @color-01;
		-webkit-transform-origin: 150px 150px;
		transform-origin: 150px 150px;


		&.reverse {
			-webkit-animation: lds-eclipse 1s linear infinite;
			animation: lds-eclipse 1s linear infinite;
			-webkit-animation-direction: reverse;
			animation-direction: reverse;
			width: 260px;
			height: 260px;
			top: 20px;
			left: 20px;
			box-shadow: 0 4px 0 0 @color-01;
			-webkit-transform-origin: 150px 150px;
			transform-origin: 130px 130px;
		}
	}

	.message {
		font-size: 2em;
	}
}

.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #FF5458;
	display: flex;
	justify-content: center;
	align-items: center;
}