.header-main {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    border-bottom: .15em solid #008CFF;
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 2;

    .row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .container-image-logo {
        display: inline-block;
        max-width: 12em;
        transition: .35s opacity ease-in-out;

        &:hover {
            opacity: .65;
        }
    }

    .nav {
        width: 100%;

        .list-container-links {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .container-link {
                white-space: nowrap;

                + .container-link {
                    margin-left: .85em;
                }

                .button-vision {
                    border: 0;
                    background-color: transparent;
                    transition: .35s opacity ease-in-out;

                    #contrast i {
                        width: 100% !important;
                        height: 100% !important;
                        font-size: 1.85em !important;
                        line-height: 1.1em !important;
                        text-indent: .1em !important;
                        background-color: transparent !important;
                        color: #000 !important;
                        box-shadow: none !important;
                    }

                    &:hover {
                        opacity: .75;
                    }
                }

                .link {
                    text-transform: uppercase;
                    position: relative;
                    color: #000;
                    transition: .35s opacity ease-in-out;
                    font-size: .8em;
                    font-weight: bold;
                    padding: .85em 0;

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: .35em;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0;
                        height: .1rem;
                        background-color: #008CFF;
                        transition: .35s width ease-in-out;
                    }

                    &:hover {
                        opacity: .65;

                        &:after {
                            width: 100%;
                        }
                    }
                }

                .container-image-no-eye {
                    max-width: 2em;
                }
            }
        }
    }
}