extends ../../templates/page/template.page-base.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.container-templates-responsivos.pt-5
		+sideNav({
			form: [
				{
					text: 'Input Radio Unique - Accessible',
					href: '#mixin-check-01'
				},
				{
					text: 'Button 01 - Accessible',
					href: '#mixin-button-01'
				},
				{
					text: 'Quiz 01 - Accessible',
					href: '#mixin-quiz-01'
				},
			],
			header: [
				{
					text: 'Header 01 - Accessible',
					href: '#mixin-header-01'
				}
			],
			footer: [
				{
					text: 'Footer 01 - Accessible',
					href: '#mixin-footer-01'
				}
			],
		})

		main
			.container
				.row.row-main
					.col
						.box-content#about
							h2.title.mt-0
								| ABOUT - Modificando...

							hr

							p.text.flow-text.mb-4
								| <strong>DOC</strong> é uma biblioteca de componentes criado com o objetivo de desenvolver peças com mais agilidade, mantendo o comprometimento de trazer o melhor do desenvolvimento web para seus usuários.

							.container-image
								img(src="../../assets/img/banner.svg" alt="Imagem banner.")

				.row.row-main
					.col
						.box-content#getting-started
							h2.title.mt-0
								| GETTING STARTED

							hr

							p.text.flow-text.mb-4
								| Adicionando arquivos no meu projeto:

							ul
								li
									p.text.text-medium
										| #[b .pug] - templates/page/mixins/

								li
									p.text.text-medium
										| #[b .less] - less/mixins/

								li
									p.text.text-medium
										| #[b .js] - scripts/
								li
									p.text.text-medium
										| #[b .json] - data/

				.row.row-main
					.col
						.box-content#components
							h2.title.mt-0
								| COMPONENTS

							hr

							p.text.flow-text.mb-4
								| Os <strong>components</strong> são trechos de códigos únicos criados para ajudar no desenvolvimento de cursos.

							.container-image
								img(src="../../assets/img/image-developer.gif" alt="Imagem Desenvolvimento.")
								

block scripts
	+scriptScripts('materialize.js')
	+scriptScripts('component.scrollbar.js')
	+scriptScripts('component.dropdown-type-01.js')
	+scriptScripts('mixin/mixin.check-01.js')
	+scriptModule('component.modal.js')
	script(src="script.js")