mixin header( component )
    header.header-main
        .container
            .row
                .col.col-01
                    a.link.container-image.container-image-logo(href!=component.logo.href)
                        +image(component.logo.src, component.logo.class, component.logo.alt, component.logo.tabindex)

                .col.col-02
                    nav.nav
                        ul.list-container-links
                            each link in component.links
                                if link.src
                                    li.container-link
                                        button.button.button-vision(aria-label="Option to short vision, this functionality works only in Google Chrome.")
                                            .container-image(class!=link.classContainer)
                                                #contrast

                                else
                                    li.container-link
                                        a.link.link-intern(href!=link.href, tabindex!=link.tabindex)!=link.text