extends ../../templates/page/template.page-base.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.container-templates-responsivos.pt-5
		+sideNav({
			form: [
				{
					text: 'Input Radio Unique - Accessible',
					href: '#mixin-check-01'
				},
				{
					text: 'Button 01 - Accessible',
					href: '#mixin-button-01'
				},
				{
					text: 'Quiz 01 - Accessible',
					href: '#mixin-quiz-01'
				},
			],
			header: [
				{
					text: 'Header 01 - Accessible',
					href: '#mixin-header-01'
				}
			],
			footer: [
				{
					text: 'Footer 01 - Accessible',
					href: '#mixin-footer-01'
				}
			],
		})

		main
			.container
				.row.row-main
					.row#mixin-header-01
						.col
							+extension({
								title: 'Header 01 - Accessile',
								id: 'header-01',
								files: [
									{
										href: '../../assets/files/header-01/component.pug',
										name: 'mixin.header-01.pug',
										type: 'html'
									},
									{
										href: '../../assets/files/header-01/style.less',
										name: 'mixin.header-01.less',
										type: 'css'
									},
									{
										href: '../../assets/files/header-01/script.js',
										name: 'mixin.header-01.js',
										type: 'js'
									},
									{
										href: '../../assets/img/logo-wl-privacy.svg',
										name: '',
										type: 'img'
									},
								],
								code: `
									<span class="color-green">+header</span>({
										<span class="color-yellow">logo:</span> {
											<span class="color-blue">href:</span> '#container-start',
											<span class="color-blue">src:</span> 'logo-wl-privacy.svg',
											<span class="color-blue">class:</span> 'image image-logo-wl-privacy',
											<span class="color-blue">alt:</span> 'Logo Wildlife - Privacy.'
										},
										<span class="color-yellow">links:</span> [
											{
												<span class="color-blue">text:</span> 'START',
												<span class="color-blue">href:</span> '#container-start',
												<span class="color-blue">tabindex:</span> '0'
											},
											{
												<span class="color-blue">text:</span> 'PRIVACY AND YOU',
												<span class="color-blue">href:</span> '#container-privacy-and-you',
												<span class="color-blue">tabindex:</span> '0'
											},
											{
												<span class="color-blue">text:</span> 'PRIVACY LAWS',
												<span class="color-blue">href:</span> '#container-privacy-laws',
												<span class="color-blue">tabindex:</span> '0'
											},
											{
												<span class="color-blue">text:</span> 'BEST PRACTICES',
												<span class="color-blue">href:</span> '#container-best-practives',
												<span class="color-blue">tabindex:</span> '0'
											},
											{
												<span class="color-blue">text:</span> "LET'S PRACTICE",
												<span class="color-blue">href:</span> '#container-lets-practice',
												<span class="color-blue">tabindex:</span> '0'
											},
											{
												<span class="color-blue">text:</span> 'LEGAL',
												<span class="color-blue">href:</span> '#container-legal',
												<span class="color-blue">tabindex:</span> '0'
											},
											{
												<span class="color-blue">text:</span> 'TERM',
												<span class="color-blue">href:</span> '#container-term',
												<span class="color-blue">tabindex:</span> '0'
											},
											{
												<span class="color-blue">src:</span> 'icon-no-eye.svg',
												<span class="color-blue">class:</span> 'image image-no-eye',
												<span class="color-blue">alt:</span> 'Icon vision.',
												<span class="color-blue">tabindex:</span> '0',
												<span class="color-blue">classContainer:</span> 'container-image-no-eye ico_contrast'
											}
										]
									})
								`
							})
								.container-image-component
									+header({
										logo: {
											href: '#container-start',
											src: 'logo-wl-privacy.svg',
											class: 'image image-logo-wl-privacy',
											alt: 'Logo Wildlife - Privacy.'
										},
										links: [
											{
												text: 'START',
												href: '#container-start',
												tabindex: '0'
											},
											{
												text: 'PRIVACY AND YOU',
												href: '#container-privacy-and-you',
												tabindex: '0'
											},
											{
												text: 'PRIVACY LAWS',
												href: '#container-privacy-laws',
												tabindex: '0'
											},
											{
												text: 'BEST PRACTICES',
												href: '#container-best-practives',
												tabindex: '0'
											},
											{
												text: "LET'S PRACTICE",
												href: '#container-lets-practice',
												tabindex: '0'
											},
											{
												text: 'LEGAL',
												href: '#container-legal',
												tabindex: '0'
											},
											{
												text: 'TERM',
												href: '#container-term',
												tabindex: '0'
											},
											{
												src: 'icon-no-eye.svg',
												class: 'image image-no-eye',
												alt: 'Icon vision.',
												tabindex: '0',
												classContainer: 'container-image-no-eye ico_contrast'
											}
										]
									})

block scripts
	+scriptScripts('materialize.js')
	+scriptScripts('component.scrollbar.js')
	+scriptScripts('component.dropdown-type-01.js')
	+scriptScripts('mixin/header-01/soft-scroll.js')
	+scriptModule('component.modal.js')
	script(src="script.js")