include mixin.imports.pug
include mixin.modal.pug
include mixin.side-nav.pug
include mixin.extension.pug

// Components documentation
include check-01/component.pug
include button-01/mixin.button.pug
include quiz-01/mixin.quiz.pug
include header-01/component.pug
include footer-01/component.pug