mixin extension(template)
    .wrapper-template
        .row
            .col.col-01
                header.header
                    h4.subtitle!=template.title

                    .wrapper-code
                        pre
                            code.remove-spacing
                                span.color-green npx 
                                span.color-green fb 
                                span.color-yellow import-component 
                                span.color-white!=template.id

                if template.dependencies
                    .wrapper-dependencies
                        each dependency in template.dependencies
                            a(href=`#mixin-${dependency}`).text!="* " + dependency

                .container-component(class!=template.class)
                    block

            .col.col-02
                .wrapper-icons
                    each file in template.files
                        a.wrapper-link(href!=file.href target="_blank" download!=file.name)
                            .container-image
                                if ( file.type === 'html' || file.type === 'pug' )
                                    +image('icon-file-html.svg')

                                else if ( file.type === 'css' || file.type === 'less' )
                                    +image('icon-file-css.svg')

                                else if ( file.type === 'js' )
                                    +image('icon-file-js.svg')

                                else if ( file.type === 'json' )
                                    +image('icon-file-json.svg')

                                else if ( file.type === 'img' )
                                    +image('icon-file-img.svg')

                                else
                                    +image('icon-file-other.svg')

                .wrapper-code
                    pre
                        code!=template.code

        if template.important
            .wrapper-important 
                h3.title 
                    | Importante

                p.text!=template.important.content