mixin sideNav(component)
    aside
        a(href="#" data-target="slide-out" class="sidenav-trigger btn")
            i.icon-menu.material-icons.right menu

        ul#slide-out.sidenav
            li
                a(href='#!' onclick="navigate.goto('_home')").text
                    | Getting Started

            li
                a.dropdown-trigger(href='#!' data-target='dropdown1' onclick="navigate.goto('form')") Form
                    i.material-icons.right arrow_drop_down

                ul#dropdown1.dropdown-content
                    each link in component.form
                        li
                            a(href!=link.href)!=link.text
            
            li
                a.dropdown-trigger(href='#!' data-target='dropdown2' onclick="navigate.goto('header')") header
                    i.material-icons.right arrow_drop_down

                ul#dropdown2.dropdown-content
                    each link in component.header
                        li
                            a(href!=link.href)!=link.text
            
            li
                a.dropdown-trigger(href='#!' data-target='dropdown2' onclick="navigate.goto('footer')") footer
                    i.material-icons.right arrow_drop_down

                ul#dropdown2.dropdown-content
                    each link in component.footer
                        li
                            a(href!=link.href)!=link.text