/* Fonts */
@import '../assets/fonts/font-awesome/css/font-awesome.min.css';
@import '../assets/fonts/arial/stylesheet.css';

* {
    box-sizing: border-box;
    font-family: 'Arial';
}

@font-01: 3rem;
@font-02: 2.5rem;
@font-03: 2rem;
@font-04: 1.8rem;
@font-05: 1.5rem;
@font-06: 0.8rem;  

p{
    font-size: @font-05;
}

/* ---------------------------------------------------------------------------------- */


/* Colors */
@color-01: #2B3E73;
@color-01-modal: #696790;
@color-02: #2B3E73;
@color-03: #FFFFFF;
@color-04: #6E1B64;
@color-04-modal:rgba(110,27,100,0.95);
@color-05: #4A4A4A;
@color-06: #6C5881;
@color-07: #8381B1;
@color-08: #BCBBD8;
@color-09: #696790;
@color-10: #2B3E73;
@color-11: #C16168;
@color-12: #71903B;
@color-13: #DC8518;
@color-14: #B6B6B6;

@color-highlight: #F4CD6D;
@color-quiz-01:#FDE021;
@color-quiz-02:#6ce47c;

// @import './helpers/_color-functions.less';

// @color-pink: #eb0045;
// @color-grey: #4b4847;
// @color-orange: orange;

// @color-purple: #691c66;
// @color-red: #ff4533;
// @color-yellow: #ffe73b;
// @color-blue: #0099d6;
// @color-green: #00e6b8;

// @color-black: #000000;
// @color-black-light: #a19c9b;
// @color-black-lighter: #d8d8d8;
// @color-white: #ffffff;
// .colorMake(@color-pink, pink);
// .colorMake(@color-grey, grey);

// .colorMake(@color-purple, purple);
// .colorMake(@color-red, red);
// .colorMake(@color-yellow, yellow);
// .colorMake(@color-blue, blue);
// .colorMake(@color-green, green);

// .colorMake(@color-black, black);
// .colorMake(@color-black-light, black-light);
// .colorMake(@color-black-lighter, black-lighter);
// .colorMake(@color-white, white);
/* ---------------------------------------------------------------------------------- */



