@import 'initial.less';
@import 'includes/materialize.less';
@import 'includes/documentation.less';

/* less mixin - Documentation */
@import 'includes/mixins/check-01/style.less';
@import 'includes/mixins/button-01/mixin.button.less';
@import 'includes/mixins/quiz-01/mixin.quiz.less';
@import 'includes/mixins/header-01/style.less';
@import 'includes/mixins/footer-01/style.less';

html,
body {
	// overflow: hidden;
	// overflow-x: hidden;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100%;
}

.container-templates-responsivos {
    width: 100vw;
    height: 100%;
    // padding: 55px;
}

.container-icon-back {
	width: 3em;
    height: auto;
    position: fixed;
    top: 1em;
	right: 1em;
	cursor: pointer;
	transition: .35s opacity ease-in-out;
	z-index: 9999;

	&:hover {
		opacity: .75;
	}
	
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-pos-next {
	position: absolute;
	bottom: 2em;
	right: 2em;
}

.btn-pos-prev {
	position: absolute;
	bottom: 2em;
	left: 2em;
}

.container-progress-bar {
	.bar .progress {
		background-color: #71903B !important;
	}

	.bar:after {
		background-color: #D2CFA2 !important;
		border-color: #D2CFA2 !important;
	}
}

.color-highlight {
	color: @color-01 !important;
}

.wrapper-progress-bar {
	position: absolute;
	margin-top: 3em;
	bottom: 3em;
	left: 0;
	right: 0;
	width: 97%;
	max-width: 720px;
	margin: auto;

	@media screen and (max-width: 860px) {
		position: relative;
		margin-top: 3em;
		bottom: 0;
	}

	.text {
		text-align: center;
		font-size: 1.45em;
		margin-bottom: 0.45em;
	}

	.content-text {
		.text {
			color: @color-01 !important;
		}
	}
}

.container-menu {
	position: absolute;
    top: 1em;
    right: 1.85em;
    width: 5em;
    height: 5em;

	.active-menu .container-icon-menu-hamburguer {
		width: 100%;
		right: 2em;
	}
	
	.content-menu {
		width: 54rem;

		.list-items {
			width: 100%;
			max-width: 46em;
			padding-top: 5em;
	
			.item {
				text-align: right;
			}
		}
	}
}

.container-itau {
	padding-bottom: 3em;
}

.text-align-center {
	text-align: center;
}


._access-icon {
    width: 2em!important;
    height: 2em!important;
    font-size: 1.4em!important;
    line-height: 0!important;
    text-indent: 0!important;
    background-color: rgb(192, 98, 106)!important;
    color: rgb(255, 255, 255)!important;
    left: 0.5em!important;
    top: 0.2em!important;
    z-index: 9999;
    opacity: 1;
	// REMOVENDO FERRAMENTAS DE BAIXA VISÃO.
	display: none!important;
	// ADICIONANDO FERRAMENTAS DE BAIXA VISÃO.
	// display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border: none!important;
}

._access-menu {
    -moz-user-select: none!important;
    -webkit-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    position: fixed!important;
    width: 25vw!important;
    height: 100vh!important;
    transition-duration: .5s;
    z-index: 99991;
    opacity: 1;
    background-color: #c0626a !important;
    color: #000;
    border-radius: 0!important;
    border: none;
    font-family: "Arial"!important;
    min-width: 300px;
    box-shadow: 0px 0px 13px #000;
    max-height: 100vh;
}

._access-menu ul li {
	font-size: 28px !important;
    margin-top: 20px!important;
}

._menu-btn {
	color: #FFF!important;
}

.subtitle {
	font-weight: bold;
}