.container-check {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999em;
    }

    label {
        position: relative;
        padding-left: 2.35em;
        cursor: pointer;
        display: inline-block;
        color: #000;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -.1em;
            width: 1.35rem;
            height: 1.35rem;
            border: .1px solid #000;
            border-radius: 100%;
            background: #000;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: -.1em;
            width: 1.35rem;
            height: 1.35rem;
            border: 1px solid #FFF;
            border-radius: 100%;
            background: #FFF;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        &:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }

        &.actived {
            &:after {
                opacity: 1;
                -webkit-transform: scale(60%);
                transform: scale(60%);
            }
        }
    }
}