mixin check( component )
    .container-check 
        .wrapper-input
            label.label(for!=component.id, tabindex!=component.tabindex, role="button", aria-label!=component.ariaLabel)!=component.text
                input(type="radio", class="input-radio", id!=component.id, data-status!=component.status, tabindex="-1")