mixin button( component )
    if( component.ariaLabel )
        button.container-button(class!=component.class, data-offset!=component.offset, tabindex!=component.tabindex, aria-label!=component.ariaLabel)
            .container-image 
                +image(component.image.src, component.image.class, component.image.alt, '')

            p.text!=component.text  

    else
        button.container-button(class!=component.class, data-offset!=component.offset, tabindex!=component.tabindex)
            .container-image 
                +image(component.image.src, component.image.class, component.image.alt, component.image.tabindex)

            p.text!=component.text  