.container-quiz {
    border-bottom: 2.5em solid #000;
    margin-bottom: .65em;

    > .header {
        width: 100%;
        background-color: #000;
        padding: 1em 0 1.4em 0;

        .box-text {
            .title {
                color: #FFF;
                font-weight: 300;
                margin-bottom: 0.3em;
                font-size: 3em;
            }

            .text {
                color: #FFF;
                font-size: 1.2em;
                line-height: 1.35em;
            }
        }
    }

    > .main {
        position: relative;

        .wrapper-alternatives {
            padding: 3em 0 0;
        }

        .wrapper-input {
            .label {
                font-size: 1.2em;
            }
        }

        .container-question + .container-question {
            margin-top: 1.65em;
        }

        .feedback {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 27em;
            z-index: 1;

            &.hide {
                display: none;
            }

            .container {
                height: 100%;
            }

            .row {
                display: flex;
                padding: 2em;
                justify-content: center;
                height: 100%;

                .col + .col {
                    margin-left: 2.5em;
                }
            }

            .container-image {
                max-width: 32em;
            }

            .box-text {
                width: 100%;
                max-width: 35em;
                margin: 0 auto;

                .title {
                    text-transform: uppercase;
                    font-size: 1.8em;
                    color: #FFF;
                    margin-bottom: .65em;
                }

                .text {
                    font-size: 1.2em;
                    color: #FFF;

                    & + .text {
                        margin-top: 1em;
                    }
                }
            }
            
            &.feedback-positive {
                background-color: #1F8F41;
            }

            &.feedback-negative {
                background-color: #9E3535;
            }
        }
    }

    > .footer {
        width: 100%;

        &.hide {
            opacity: 0;
            visibility: hidden;

            * {
                opacity: 0;
                visibility: hidden;
            }
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .container-image {
                animation: none;
                margin-top: 0.2em;
            }

            .container-button {
                padding: 0.45em 2.5em;
                margin-bottom: 1.35em;
                transition: .35s opacity ease-in-out;

                &:hover {
                    opacity: .85;
                }
            }
        }
    }
}