@import "../../../src/less/initial.less";
// @import "../../../flamboyant_modules/themes/templates-responsivos/components/flip-card/style.less";
// @import "../../../flamboyant_modules/themes/templates-responsivos/components/dropdown/style.less";
// @import "../../../flamboyant_modules/themes/templates-responsivos/components/modal/style.less";

html, body {
    overflow-y: auto !important;
    overflow-x: hidden;
}

.container-flip-card {
    .text {
        color: #FFFFFF;
    }
}

.sidenav-trigger.btn {
    background-color: #333333;
}

.modal {
    .box {
        .title {
            font-size: 2em;
        }

        .text {
            font-size: 1.2em;
        }
    }
}

.container-copyText {
	display: flex;
	justify-content: center;
	align-items: center;
	.textCopy {
		border: none;
		background-color: transparent;
		pointer-events: none;
        width: 14em;
	}
	.iconeCopyText {
		img {
			width: 3em;
			margin-left: 1em;
			cursor: pointer;
		}
	}
}

.row .col {
    width: 100%;
}

.row-main + .row-main {
    margin-top: 15em;
}

.text-medium {
    font-size: 1.42em;
}

.underline {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
    transition: .35s opacity ease-in-out;

    &:hover {
        opacity: .75;
    }
}

.container-dropdown {
    width: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.container-icon-back {
    display: none;
}

#template-04, #template-06, #template-09, #template-13, #template-22,  #template-24 {
    display: flex;
    align-items: flex-end;
}

.container-templates-responsivos {
    aside {
        > a {
            position: fixed;
            top: 0;
            left: 0;
        }

        .icon-menu {
            font-size: 40px;
        }
    }

    main {
        .wrapper-template {
            .header {
                display: flex;
                align-items: center;
                padding: 1.65em 0;

                .subtitle {
                    margin: 0;
                }

                .wrapper-code {
                    width: auto;
                    margin-left: 1.35em;

                    pre {
                        overflow: hidden;
                        padding: 0.45em 0.85em;
                        margin: 0;

                        &:after {
                            font-size: 1.35em;
                        }
                    }
                }
            }

            .wrapper-dependencies {
                padding-left: 1.5em;
                margin-top: -1em;

                .text {
                    margin: 0;
                    font-size: 1em;
                    color: #fb4d51;
                    font-weight: bold;
                    display: block;
                    width: auto;
                    transition: .35s opacity ease-in-out;

                    &:hover {
                        opacity: .75;
                    }
                }
            }

            > .row {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }

        .container-component {
            width: 100%;
            margin: 1.35em 0 1em;
            border: 3px solid #222;
            padding: 0.45em;
            display: inline-block;

            .container-image-component {
                width: 100%;
                height: 100%;

                .image,
                img,
                svg {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }

        .wrapper-icons {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .wrapper-link {
                transition: .35s opacity ease-in-out;
                cursor: pointer;

                &:hover {
                    opacity: .65;
                }

                & + .wrapper-link {
                    margin-left: .65em;
                }

                .container-image {
                    width: 4em;
                    height: 3em;

                    .image,
                    img,
                    svg {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .box-content {
            strong {
                font-weight: 600;
            }
        }

        .wrapper-code {
            width: 100%;

            code {
                left: -700px;
                position: relative;

                &.remove-spacing {
                    left: 0;
                }
            }

            &.copied {
                pre {
                    &:after {
                        content: 'COPIED!';
                        color: #fb4d51;
                    }
                }
            }
        }

        pre {
            background-color: #222;
            padding: 1em 1.15em;
            font-size: 1.2em;
            color: #FFF;
            overflow: auto;
            position: relative;
            cursor: pointer;

            &:before {
                content: '';
                opacity: 0;
                width: 200vw;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                background-color: rgba(0, 0, 0, 0.85);
                color: #FFF;
                display: flex;
                justify-content: center;
                transition: .35s opacity ease-in-out;
                z-index: 1;
            }

            &:after {
                content: 'CLICK TO COPY!';
                color: #32CD30;
                position: absolute;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 2.35em;
                opacity: 0;
                transition: .35s opacity ease-in-out;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
                
                &:after {
                    opacity: 1;
                }
            }

            *.required {
                position: relative;

                &:after {
                    content: '* required';
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    left: .15em;
                    color: #868686;
                    font-size: 0.95em;
                }
            }

            .color-pink {
                color: #f360aa;
            }

            .color-yellow {
                color: #FFD400;
            }

            .color-green {
                color: #33CC33;
            }

            .color-blue {
                color: #45b6fe;
            }

            .color-red {
                color: #fb4d51;
            }

            .color-orange {
                color: rgb(248, 94, 38);
            }
        }
    }
}