include ./mixins/mixin.index.imports.pug
doctype html
html(lang='pt')
	head
		title
			block title
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		+linkVendor('animate.min.css')
		+linkVendor('normalize.css')
		+linkVendor('owl.carousel.min.css')
		+linkVendor('owl.theme.default.min.css')
		+linkModule('engine.css')
		+linkTemplate('index.css')
	body
		main#main
		.hud
			block hud
				.indicadores.lololol
					block indicadores
		block popups
		block covers
		include ./hud/hud.loader.pug
		//- vendor
		+scriptVendor('bluebird.min.js')
		+scriptVendor('jquery.min.js')
		+scriptVendor('owl.carousel.min.js')
		block vendor-js

		//- config & engine
		+addConfig
		+scriptModule('engine.min.js')
		+scriptModule('component.hud-loader.js')
		//- modules
		block modules-js
		//- Main
		+scriptTemplate('main.bundle.js')
