extends ../../templates/page/template.page-base.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.container-templates-responsivos.pt-5
		+sideNav({
			form: [
				{
					text: 'Input Radio Unique - Accessible',
					href: '#mixin-check-01'
				},
				{
					text: 'Button 01 - Accessible',
					href: '#mixin-button-01'
				},
				{
					text: 'Quiz 01 - Accessible',
					href: '#mixin-quiz-01'
				},
			],
			header: [
				{
					text: 'Header 01 - Accessible',
					href: '#mixin-header-01'
				}
			],
			footer: [
				{
					text: 'Footer 01 - Accessible',
					href: '#mixin-footer-01'
				}
			],
		})

		main
			.container
				.row.row-main
					.row#mixin-footer-01
						.col
							+extension({
								title: 'Footer 01 - Accessile',
								id: 'footer-01',
								files: [
									{
										href: '../../assets/files/footer-01/component.pug',
										name: 'mixin.footer-01.pug',
										type: 'html'
									},
									{
										href: '../../assets/files/footer-01/style.less',
										name: 'mixin.footer-01.less',
										type: 'css'
									},
									{
										href: '../../assets/img/logo-privacy.svg',
										name: '',
										type: 'img'
									},
								],
								code: `
									<span class="color-green">+footer</span>({
										<span class="color-yellow">text:</span> {
											<span class="color-blue">content:</span> 'To exit, close your browser window.',
											<span class="color-blue">tabindex:</span> '0'
										},
										<span class="color-yellow">image:</span> {
											<span class="color-blue">src:</span> 'logo-privacy.svg',
											<span class="color-blue">class:</span> 'image image-privacy',
											<span class="color-blue">alt:</span> 'Icon padlock with logo privacy.',
											<span class="color-blue">tabindex:</span> '0'
										},
									})
								`
							})
								.container-image-component
									+footer({
										text: {
											content: 'To exit, close your browser window.',
											tabindex: '0'
										},
										image: {
											src: 'logo-privacy.svg',
											class: 'image image-privacy',
											alt: 'Icon padlock with logo privacy.',
											tabindex: '0'
										},
									})

block scripts
	+scriptScripts('materialize.js')
	+scriptScripts('component.scrollbar.js')
	+scriptScripts('component.dropdown-type-01.js')
	+scriptScripts('mixin/header-01/soft-scroll.js')
	+scriptModule('component.modal.js')
	script(src="script.js")