extends ../../templates/page/template.page-base.pug

block styles
	link(rel="stylesheet", href="style.css")

block body
	.container-templates-responsivos.pt-5
		+sideNav({
			form: [
				{
					text: 'Input Radio Unique - Accessible',
					href: '#mixin-check-01'
				},
				{
					text: 'Button 01 - Accessible',
					href: '#mixin-button-01'
				},
				{
					text: 'Quiz 01 - Accessible',
					href: '#mixin-quiz-01'
				},
			],
			header: [
				{
					text: 'Header 01 - Accessible',
					href: '#mixin-header-01'
				}
			],
			footer: [
				{
					text: 'Footer 01 - Accessible',
					href: '#mixin-footer-01'
				}
			],
		})

		main
			.container
				.row.row-main
					.row#mixin-check-01
						.col
							+extension({
								title: 'Check 01 - Accessible',
								id: 'check-01',
								files: [
									{
										href: '../../assets/files/check-01/component.pug',
										name: 'mixin.check.pug',
										type: 'html'
									},
									{
										href: '../../assets/files/check-01/style.less',
										name: 'mixin.check.less',
										type: 'css'
									},
									{
										href: '../../assets/files/check-01/script.js',
										name: 'mixin.check.js',
										type: 'js'
									}
								],
								code: `
									<span class="color-green">+check</span>({
										<span class="color-yellow">text:</span> 'I confirm that I completed this training in full.',
										<span class="color-yellow">tabindex:</span> '0',
										<span class="color-yellow">id:</span> 'radio-confirm'
									})
								`
							})
								.container-image-component
									+check({
										text: 'I confirm that I completed this training in full.',
										tabindex: '0',
										id: 'radio-confirm'
									})
				
				.row.row-main
					.row#mixin-button-01
						.col
							+extension({
								title: 'Button 01 - Accessible',
								id: 'button-01',
								files: [
									{
										href: '../../assets/files/button-01/component.pug',
										name: 'mixin.button.pug',
										type: 'html'
									},
									{
										href: '../../assets/files/button-01/style.less',
										name: 'mixin.button.less',
										type: 'css'
									},
									{
										href: '../../assets/files/button-01/img.zip',
										name: 'images.zip',
										type: 'img'
									}
								],
								code: `
									<span class="color-green">+button</span>({
										<span class="color-yellow">image:</span> {
											<span class="color-blue">src:</span> 'icon-scroll.svg',
											<span class="color-blue">class:</span> 'image image-scroll',
											<span class="color-blue">alt:</span> 'Icon scrolling.',
											<span class="color-blue">tabindex:</span> ''
										},
										<span class="color-yellow">text:</span> 'Click the arrows or drag to advance through the content.',
										<span class="color-yellow">tabindex:</span> '-1',
										<span class="color-yellow">class:</span> 'click-arrows pointer-events-none'
									})
								`
							})
								.container-image-component
									+button({
										image: {
											src: 'icon-scroll.svg',
											class: 'image image-scroll',
											alt: 'Icon scrolling.',
											tabindex: ''
										},
										text: 'Click the arrows or drag to advance through the content.',
										tabindex: '-1',
										class: 'click-arrows pointer-events-none'
									})
				
				.row.row-main
					.row#mixin-quiz-01
						.col
							+extension({
								title: 'Quiz 01 - Accessible',
								id: 'quiz-01',
								dependencies: ["check-01", "button-01"],
								files: [
									{
										href: '../../assets/files/quiz-01/component.pug',
										name: 'mixin.quiz.pug',
										type: 'html'
									},
									{
										href: '../../assets/files/quiz-01/style.less',
										name: 'mixin.quiz.less',
										type: 'css'
									},
									{
										href: '../../assets/files/quiz-01/script.js',
										name: 'mixin.quiz.js',
										type: 'js'
									},
									{
										href: '../../assets/files/quiz-01/img.zip',
										name: 'images.zip',
										type: 'img'
									},
								],
								code: `
									<span class="color-green">+quiz</span>({
										<span class='color-yellow'>title:</span> {
											<span class='color-blue'>content:</span> 'Situation 1',
											<span class='color-blue'>tabindex:</span> '0'
										},
										<span class='color-yellow'>text:</span> {
											<span class='color-blue'>content:</span> 'John is a data scientist and is analyzing some metrics to see how many daily active users we have in a given game. For this, he has access to different types of information. Which one is considered personal data? Check the correct option and click Confirm.',
											<span class='color-blue'>tabindex:</span> '0'
										},
										<span class='color-yellow'>feedback:</span> {
											<span class='color-blue'>positive:</span> {
												<span class='color-red'>image:</span> {
													<span class='color-orange'>src:</span> 'image-person-trophy.svg',
													<span class='color-orange'>class:</span> 'image image-person-trophy',
													<span class='color-orange'>alt:</span> 'Graphic image on the left side of the screen, of a man holding in one hand a big silver trophy and with the other hand a medal attached to a red ribbon around his neck.',
													<span class='color-orange'>tabindex:</span> '0'
												},
												<span class='color-red'>title:</span> {
													<span class='color-orange'>content:</span> "THAT'S IT! YOU'RE RIGHT!",
													<span class='color-orange'>tabindex:</span> '0'
												},
												<span class='color-red'>text:</span> {
													<span class='color-orange'>content:</span> 'In general, the device ID is the most specific personal data the industry has about players.',
													<span class='color-orange'>tabindex:</span> '0'
												}
											},
											<span class='color-blue'>negative:</span> {
												<span class='color-red'>image:</span> {
													<span class='color-orange'>src:</span> 'image-person-worried.svg',
													<span class='color-orange'>class:</span> 'image image-person-worried',
													<span class='color-orange'>alt:</span> 'Graphic image on the left side of the screen, of a person with one hand at his nape and the other at his waist and a raised eyebrow.',
													<span class='color-orange'>tabindex:</span> '0'
												},
												<span class='color-red'>title:</span> {
													<span class='color-orange'>content:</span> "OOPS! NOT THIS TIME.",
													<span class='color-orange'>tabindex:</span> '0'
												},
												<span class='color-red'>text:</span> {
													<span class='color-orange'>content:</span> 'The correct answer is the letter C: <strong>Device ID (IDFA for Apple and AAFA for Google)</strong>',
													<span class='color-orange'>tabindex:</span> '0'
												}
											},
										},
										<span class='color-yellow'>alternatives:</span> [
											{
												<span class='color-red'>text:</span> '<strong>A.</strong> Game.',
												<span class='color-red'>tabindex:</span> '0',
												<span class='color-red'>id:</span> 'question-02-alternative-01',
												<span class='color-red'>status:</span> '0',
												<span class='color-red'>ariaLabel:</span> 'A. Game.',
											},
											{
												<span class='color-red'>text:</span> '<strong>B.</strong> Date.',
												<span class='color-red'>tabindex:</span> '0',
												<span class='color-red'>id:</span> 'question-02-alternative-02',
												<span class='color-red'>status:</span> '0',
												<span class='color-red'>ariaLabel:</span> 'B. Date.',
											},
											{
												<span class='color-red'>text:</span> '<strong>C.</strong> Device ID (IDFA for Apple and AAFA for Google).',
												<span class='color-red'>tabindex:</span> '0',
												<span class='color-red'>id:</span> 'question-02-alternative-03',
												<span class='color-red'>status:</span> '1',
												<span class='color-red'>ariaLabel:</span> 'C. Device ID (IDFA for Apple and AAFA for Google).',
											},
											{
												<span class='color-red'>text:</span> '<strong>D.</strong> Device model.',
												<span class='color-red'>tabindex:</span> '0',
												<span class='color-red'>id:</span> 'question-02-alternative-04',
												<span class='color-red'>status:</span> '0',
												<span class='color-red'>ariaLabel:</span> 'D. Device model.',
											},
										]
									})
								`
							})
								.container-image-component
									+quiz({
										title: {
											content: 'Situation 1',
											tabindex: '0'
										},
										text: {
											content: 'John is a data scientist and is analyzing some metrics to see how many daily active users we have in a given game. For this, he has access to different types of information. Which one is considered personal data? Check the correct option and click Confirm.',
											tabindex: '0'
										},
										feedback: {
											positive: {
												image: {
													src: 'image-person-trophy.svg',
													class: 'image image-person-trophy',
													alt: 'Graphic image on the left side of the screen, of a man holding in one hand a big silver trophy and with the other hand a medal attached to a red ribbon around his neck.',
													tabindex: '0'
												},
												title: {
													content: "THAT'S IT! YOU'RE RIGHT!",
													tabindex: '0'
												},
												text: {
													content: `
														<p class='text'>
															In general, the device ID is the most specific personal data the industry has about players.
														</p>
													`,
													tabindex: '0'
												}
											},
											negative: {
												image: {
													src: 'image-person-worried.svg',
													class: 'image image-person-worried',
													alt: 'Graphic image on the left side of the screen, of a person with one hand at his nape and the other at his waist and a raised eyebrow.',
													tabindex: '0'
												},
												title: {
													content: "OOPS! NOT THIS TIME.",
													tabindex: '0'
												},
												text: {
													content: `
														<p class='text'>The correct answer is the letter C: <strong>Device ID (IDFA for Apple and AAFA for Google)</strong>. </p>

														<p class='text'>In general, this type of personal data is the most specific the industry has about players.</p>
													`,
													tabindex: '0'
												}
											},
										},
										alternatives: [
											{
												text: '<strong>A.</strong> Game.',
												tabindex: '0',
												id: 'question-02-alternative-01',
												status: '0',
												ariaLabel: 'A. Game.',
											},
											{
												text: '<strong>B.</strong> Date.',
												tabindex: '0',
												id: 'question-02-alternative-02',
												status: '0',
												ariaLabel: 'B. Date.',
											},
											{
												text: '<strong>C.</strong> Device ID (IDFA for Apple and AAFA for Google).',
												tabindex: '0',
												id: 'question-02-alternative-03',
												status: '1',
												ariaLabel: 'C. Device ID (IDFA for Apple and AAFA for Google).',
											},
											{
												text: '<strong>D.</strong> Device model.',
												tabindex: '0',
												id: 'question-02-alternative-04',
												status: '0',
												ariaLabel: 'D. Device model.',
											},
										]
									})

block scripts
	+scriptScripts('materialize.js')
	+scriptScripts('component.scrollbar.js')
	+scriptScripts('component.dropdown-type-01.js')
	+scriptScripts('mixin/check-01/script.js')
	+scriptScripts('mixin/quiz-01/mixin.quiz.js')
	+scriptModule('component.modal.js')
	script(src="script.js")