extends ./templates/main/template.estrutura-principal.pug
block title
	| Doc - Components library
block hud
block popups
block modules-js
	script(src='app/modules/behavior.adaptative.js')
	script(src='app/scripts/resize.js')