include ../../../flamboyant_modules/templates/import.pug
include mixins/index.pug

doctype html
html.full-iframe
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="../../template/page.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		block styles
	body
		.container-icon-back(onclick="navigate.goto('page00')")
			img(src="../../assets/img/back-arrow.svg")
				
		block body
			

	+scriptVendor('eventEmitter.js')
	+scriptVendor('accessibility.min.js')
	+scriptVendor('jquery.min.js')
	+scriptModule('component.base-page.js')
	+scriptVendor('utius.components.js')
	+scriptScripts('components.scripts.js')
	+scriptScripts('page.js')
	
	block scripts