include mixins/index.pug

doctype html
html.full-iframe.mr-fontsize
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" type="text/css" href="../../template/page.css")
		block styles
	body
		block body-before
		.mr-full
			block body
		block body-after
	+scriptVendor('eventEmitter.js')
	+scriptVendor('jquery.min.js')
	+scriptModule('component.base-page.js')
	+scriptModule('behavior.adaptative.js')
	+scriptScripts('resize.js')
	block scripts